{% extends 'evaluations/base.html' %}

{% load bootstrap3 %}

{% block content %}
<h1>Ajout de catégorie</h1>

<p><a class="btn btn-default" href="{% url "evaluations:formulaire" pk=formulaire.pk %}">Retour</a></p>

<form method="POST" class="form-horizontal">
  {% csrf_token %}

  <div class="form-group">
    <label class="col-md-3 control-label" for="id_question">Formulaire</label>
    <div class="col-md-9"><p class="form-control-static">{{formulaire.titre}}</p></div>
  </div>

  {% bootstrap_form form layout='horizontal' %}
  {% bootstrap_button "Créer" button_type="submit" button_class="btn btn-success btn-lg pull-right" %}
</form>
{% endblock %}
