{% extends 'evaluations/base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}

<div class="row col-md-8 col-md-offset-2">

<h1>Saisissez un nouveau mot de passe</h1>

{% if validlink %}

<p>Saisissez deux fois votre nouveau mot de passe afin de vérifier qu'il est correctement saisi.</p>

<form method="POST" class="form-horizontal">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% bootstrap_button "Modifier mon mot de passe" button_type="submit" button_class="btn btn-success btn-lg pull-right" %}
</form>

{% else %}

<p>Le lien de mise à jour du mot de passe n'était pas valide, probablement en raison de sa précédente utilisation. Veuillez renouveler votre demande de mise à jour de mot de passe.</p>

{% endif %}

</div>

{% endblock %}
