{% extends 'evaluations/base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="row col-md-8 col-md-offset-2">

<p class="text-center">Vous avez oublié votre mot de passe ? Entrez votre adresse email ci dessous, et nous vous enverrons des instructions pour en saisir un nouveau.</p>

<form method="POST" class="form-horizontal">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% bootstrap_button "Réinitialiser" button_type="submit" button_class="btn btn-success btn-lg pull-right" %}
</form>
</div>

{% endblock %}
